/*#region [PLACEHOLDERS] */
%grid {
  display: grid;
  &-inline {
    display: inline-grid;
  }
}
%full-width {
  width: 100%; // older browsers
  width: 100vw;
}
/*#endregion*/

/*#region [VARIABLES] */
$charcoal: #333;
$blue: #4aaeff;
$pink: #ff6eff;

$layers: (
  uppermost: 100,
  just-above: 2,
  normal: 1,
  hidden: -1
);
/*#endregion*/

/*#region [MIXINS] */
@mixin z-index ($layer) {
  z-index: map-get($layers, $layer);
}
/*#endregion*/

/*#region [KEYFRAMES] */
@keyframes to-show {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes to-hide {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
/* 5 seconds */
@keyframes alert {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}
/*#endregion*/
